<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{tournament_name}} — Entry Fees</title>

  <style type="text/css">
    body {
      font-family: Lato, Arial, Helvetica, sans-serif
    }

    h1, h2, h3, h4, h5, h6 {
      color: #5cc133;
    }

    table {
      width: 100%;
      border: 1px #aaa solid;
      border-collapse: collapse;
    }

    thead td {
      font-weight: bold;
    }

    td {
      border: 1px #ddd solid;
      padding: 0.1em;
    }

    tr.even {
      background: #f6f6f6;
    }

    div.footer {
      color: #aaa;
    }

    div.footer a {
      color: #999;
    }
  </style>
</head>

<body>
<h1>{{tournament_name}} — Entry Fees</h1>

<p>Timestamp: {{timestamp}}</p>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Phone</td>
      <td>Mobile</td>
      <td style="text-align:center">Paid</td>
      <td style="text-align:center">Dinner?</td>
    </tr>
  </thead>
  {% for player in dataset|sort(attribute='name') -%}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td>{{player.name}}</td>
    <td>{{player.phone}}</td>
    <td>{{player.mobile}}</td>
    {% if player["fee paid"] -%}
    <td style="text-align:center">&#10004</td>
    {% else -%}
    <td>&nbsp;</td>
    {% endif -%}
    <td>&nbsp;</td>
  </tr>
  {% endfor -%}
</table>

<div class="footer">
<p>
Made with <a
href="https://github.com/madduck/tctools/tree/main/tcmerge">tcmerge</a>.
Copyright &copy; 2021 by <a href="mailto:tctools@pobox.madduck.net">martin f.
krafft</a>
</p>
</div>

</body>
</html>
