<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{tournament_name}} — Entry Fees</title>

  <style type="text/css">
    body {
      font-family: Lato, Arial, Helvetica, sans-serif
    }

    h1, h2, h3, h4, h5, h6 {
      color: #5cc133;
    }

    table {
      width: 100%;
      border: 1px #aaa solid;
      border-collapse: collapse;
    }

    thead td {
      font-weight: bold;
    }

    td {
      border: 1px #ddd solid;
      padding: 0.1em;
    }

    tr.even {
      background: #f6f6f6;
    }

    div.footer {
      color: #aaa;
    }

    div.footer a {
      color: #999;
    }
  </style>
</head>

<body>
<h1>{{tournament_name}} — Entry Fees</h1>

<p>Timestamp: {{timestamp}}</p>

<table>
  <thead>
    <tr class="even">
      <td style="text-align:center">Dinner?</td>
      <td style="text-align:center">Veg/Vegan?</td>
      <td style="text-align:center">Paid</td>
      <td>Name</td>
      <td>Phone</td>
      <td>Mobile</td>
    </tr>
  </thead>
  {% for player in dataset|sort(attribute='name')
       if not player.has_defaulted() and player.draw.name -%}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    {% if player["fee_paid"] -%}
    <td style="text-align:center">&#10004</td>
    {% else -%}
    <td>&nbsp;</td>
    {% endif -%}
    <td>{{player.name}}</td>
    <td>{{player.phone}}</td>
    <td>{{player.mobile}}</td>
  </tr>
  {% endfor -%}
</table>

<div class="footer">
<p>
Made with <a
href="{{meta.url}}">tctools</a>.
Copyright &copy; {{meta.years|replace("–", "&ndash;")|safe}} by
<a href="mailto:{{meta.email}}">{{meta.author}}</a>
</p>
</div>

</body>
</html>
