<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ tournament_name }} Live Info</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>

<h1>{{ tournament_name }} Games Schedule</h1>

{% if played_games -%}
<h2><a name="played">{{ tournament_name}} — Played games</a></h2>

<p>
{% if pending_games -%}
Jump to: <a href="#now">Now</a> |
{% endif -%}
By draw:
{% for draw in drawdata -%}
<a href="#{{draw[0]}}">{{draw[0]}}</a>
{% endfor -%}
</p>

<p>
Last updated: {{timestamp}}
</p>

<table>
<thead>
  <tr>
    <td>&nbsp;</td>
    <td style="text-align:right">#</td>
    <td>Day</td>
    <td style="text-align:right">Time</td>
    <td>Code</td>
    <td>Player 1</td>
    <td>Player 2</td>
    <td>Result</td>
  </tr>
</thead>
<tbody>
{% for game in played_games | reverse -%}
  <tr class="{{ loop.cycle('odd', 'even') }}" id="{{game.code}}">
    <td style="background:#{{game.colour}}">
      <a href="#{{game.code[:2]}}">&nbsp;</a>
    </td>
    <td style="text-align:right">{{ game.nr }}</td>
    <td>{{ game.day }}</td>
    <td style="text-align:right">{{ game.time.strftime('%H:%M') }}</td>
    <td><a href="#{{game.code[:2]}}">{{game.code}}</a></td>
    <td class="{{ game.p1classes|join(' ') }}">{{ game.p1 }}</td>
    <td class="{{ game.p2classes|join(' ') }}">{{ game.p2 }}</td>
    <td>{{ game.comment }}</td>
  </tr>
{% endfor -%}
</tbody>
</table>
{% endif -%}

{% if pending_games -%}
<h2><a name="now">{{ tournament_name }} — Scheduled games</a></h2>

<a href="display.html">
  <img src="display.png" width="90" height="45"/>
</a>

<p>
{% if played_games -%}
Jump to:
<a href="#played">Played</a> |
{% endif -%}
By draw:
{% for draw in draws -%}
<a href="#{{draw[0]}}">{{draw[0]}}</a>
{% endfor -%}
</p>

<p>
Last updated: {{timestamp}}
</p>

<table style="clear:both">
<thead>
  <tr>
    <td>&nbsp;</td>
    <td style="text-align:right">#</td>
    <td>Day</td>
    <td style="text-align:right">Time</td>
    <td>Code</td>
    <td>Player 1</td>
    <td>Player 2</td>
    <td>Status</td>
    <td>Comment</td>
  </tr>
</thead>
<tbody>
{% for game in pending_games -%}
  <tr class="{{ loop.cycle('odd', 'even' )}}" id="{{game.code}}">
    <td style="background:#{{game.colour}}">
      <a href="#{{game.code[:2]}}">&nbsp;</a>
    </td>
    <td style="text-align:right">{{ game.nr }}</td>
    <td>{{ game.day }}</td>
    <td style="text-align:right">{{ game.time.strftime('%H:%M') }}</td>
    <td><a href="#{{game.code[:2]}}">{{game.code[:2]}}</a>{{game.code[2:]}}</td>
    <td class="{{ game.p1classes|join(' ') }}">{{ game.p1 }}</td>
    <td class="{{ game.p2classes|join(' ') }}">{{ game.p2 }}</td>
    <td class="{{ game.statusclasses|join(' ') }}">{{ game.status }}</td>
    <td>{{ game.comment }}</td>
  </tr>
{% endfor -%}
</tbody>
</table>
{% endif -%}

<div class="footer">
<p>
Made with <a
href="https://github.com/madduck/tctools/tree/main/tc2web">tc2web</a>.
Copyright &copy; 2021 by <a href="mailto:tctools@pobox.madduck.net">martin f.
krafft</a>
</p>
</div>

<h1>{{ tournament_name }} Draws Overview</h1>

{% for code, name, colour, games in draws -%}

<h2><a name="{{code}}">{{tournament_name}} — {{ name }}</a></h2>

<p>
Jump to: <a href="#now">Schedule</a> |
{% for draw in drawdata -%}
{% if draw[0] == code -%}
{{code}}
{% else -%}
<a href="#{{draw[0]}}">{{draw[0]}}</a>
{% endif -%}
{% endfor -%}
</p>

<p>
Last updated: {{timestamp}}
</p>

<table>
<thead>
<tr>
<td style="background:#{{colour}}">&nbsp;</td>
<td>Day</td>
<td style="text-align:right">Time</td>
<td>Code</td>
<td>Player 1</td>
<td>Player 2</td>
<td>Status</td>
<td>Comment/Result</td>
</tr>
</thead>
<tbody>
{% for game in games -%}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td style="background:#{{colour}}">&nbsp;</td>
    <td>{{ game.day }}</td>
    <td style="text-align:right">
      <a href="#{{game.code}}">{{game.time.strftime('%H:%M')}}</a>
    </td>
    <td>{{ game.code }}</td>
    <td class="{{ game.p1classes|join(' ') }}">{{ game.p1 }}</td>
    <td class="{{ game.p2classes|join(' ') }}">{{ game.p2 }}</td>
    <td class="{{ game.statusclasses|join(' ') }}">{{ game.status }}</td>
    <td>{{ game.comment }}</td>
  </tr>
{% endfor -%}
</tbody>
</table>

<div class="footer">
<p>
Made with <a
href="https://github.com/madduck/tctools/tree/main/tc2web">tc2web</a>.
Copyright &copy; 2021 by <a href="mailto:tctools@pobox.madduck.net">martin f.
krafft</a>
</p>
</div>

{% endfor -%}

</body>
