<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.75">
  <title>{{ tournament_name }} Live Info</title>
<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>

{##### MACROS ################################################################}

{% macro schedule(games, commentlabel, reverse=False, nroffset=0) -%}
<p>
Last updated: {{timestamp}}
</p>

<table>
<thead>
  <tr>
    <td>&nbsp;</td>
    <td style="text-align:right">#</td>
    <td>Day</td>
    <td style="text-align:right">Time</td>
    <td>Code</td>
    <td>Player 1</td>
    <td>Player 2</td>
    <td>Status</td>
    <td>{{commentlabel}}</td>
  </tr>
</thead>
<tbody>
{% for game in games|sort(reverse=reverse) -%}
  {% set draw = game.draw.name -%}
  {% set gamename = game.get_fancy_name(short=True) -%}
  <!-- {{'{!r}'.format(game)}} -->
  {% set dt = game.datetime -%}
  <tr class="{{ loop.cycle('odd', 'even') }}" id="S-{{game.name}}">
    <td style="background:#{{game.colour}}">
      <a href="#{{draw}}">&nbsp;</a>
    </td>
    <td style="text-align:right">{{ (loop.revindex if reverse else loop.index) + nroffset }}</td>
    <td>{{ dt.strftime('%a') if dt else '' }}</td>
    <td style="text-align:right">
      {{dt.strftime('%H:%M') if dt else ''}}
    </td>
    <td><a href="#{{draw}}">{{draw}}</a>&nbsp;{{gamename}}</td>
    <td class="{{ game.get_player_class(0) }}">{{ player(game.players[0]) }}</td>
    <td class="{{ game.get_player_class(1) }}">{{ player(game.players[1]) }}</td>
    <td class="{{ game.get_status_class() }}">{{ game.get_status() }}</td>
    <td>{{ game.get_comment() }}</td>
  </tr>
{% endfor -%}
</tbody>
</table>

{{footer()}}

{% endmacro -%}

{% macro footer() -%}
<div class="footer">
<p>
Made with <a
href="{{meta.url}}">tctools</a>.
Copyright &copy; {{meta.years}} by
<a href="mailto:{{meta.email}}">{{meta.author}}</a>
</p>
</div>
{% endmacro -%}

{% macro drawnav(draws, curdraw) -%}
{% for d in draws|sort %}
{% if d.name == curdraw -%}
<a class="current">{{d.name}}</a>
{% else -%}
<a href="#{{d.name}}">{{d.name}}</a>
{% endif -%}
{% endfor -%}
{% endmacro -%}

{% macro player(player) -%}
{% if player and player in players -%}
{% set p = players[player] -%}
<span class="player">{{ p.name }}</span>
<!-- {{'{!r}'.format(p)}} -->
<div class="playerinfo">
{{p.club or p.code}}<br/>
{{p.grade}} @ {{'{0:,d}'.format(p.points|int)}} points<br/>
{{p.draw.desc}} #{{p.seed}}
</div>
{% else -%}
{{ player }}
{% endif -%}
{% endmacro -%}

{##### SCHEDULE ##############################################################}

<h1>{{ tournament_name }} Live Info</h1>

{% if played_games -%}
<h2><a name="played">{{ tournament_name}} &mdash; Played games</a></h2>

<div class="nav">
{% if pending_games -%}
<a href="#now">Now</a>
{% endif -%}
{{ drawnav(draws, None) }}
</div>

{{ schedule(played_games, "Result", reverse=True) }}
{% endif -%}

{% if pending_games -%}
<h2><a name="now">{{ tournament_name }} &mdash; Scheduled games</a></h2>

<div class="display">
  <a href="display.html">
    <img src="display.png" width="90" height="45"/>
  </a>
</div>

<div class="nav">
{% if played_games -%}
<a href="#played">Played</a>
{% endif -%}
{{ drawnav(draws, None) }}
</div>

{{ schedule(pending_games, "Notes", nroffset=played_games|length) }}
{% endif -%}

{##### DRAWS #################################################################}

<h1>{{ tournament_name }} Draws Overview</h1>

{% for draw in draws|sort -%}

<h2><a name="{{draw.name}}"></a><span class="tname">{{tournament_name}}</span>
{{ draw.desc }}</h2>

<div class="nav">
{% if pending_games -%}
<a href="#now">Schedule</a>
{% endif -%}
{{ drawnav(draws, draw.name) }}
</div>

<p>
Last updated: {{timestamp}}
</p>

<table>
<thead>
<tr>
<td style="background:#{{draw.colour}}">&nbsp;</td>
<td>Day</td>
<td style="text-align:right">Time</td>
<td>Code</td>
<td>Player 1</td>
<td>Player 2</td>
<td>Status</td>
<td>Comment/Result</td>
</tr>
</thead>
<tbody>
{% for game in draw.games|sort -%}
  <!-- {{'{!r}'.format(game)}} -->
  {% set draw = game.draw.name -%}
  {% set gamename = game.get_fancy_name(short=True) -%}
  {% set dt = game.datetime -%}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td style="background:#{{draw.colour}}">&nbsp;</td>
    <td>{{ dt.strftime('%a') if dt else '' }}</td>
    <td style="text-align:right">
      <a href="#S-{{game.name}}">{{dt.strftime('%H:%M') if dt else ''}}</a>
    </td>
    <td>{{draw}}&nbsp;{{gamename}}</td>
    <td class="{{ game.get_player_class(0) }}">{{ player(game.players[0]) }}</td>
    <td class="{{ game.get_player_class(1) }}">{{ player(game.players[1]) }}</td>
    <td class="{{ game.get_status_class() }}">{{ game.get_status() }}</td>
    <td>{{ game.get_comment() }}</td>
  </tr>
{% endfor -%}
</tbody>
</table>

<h3>{{draw.name}} seedings</h3>

<table>
<thead>
<tr>
<td>#</td>
<td>Name</td>
<td>Points</td>
<td>Code</td>
<td>Club</td>
</tr>
</thead>
<tbody>
{% for player in draw.players -%}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td>{{loop.index}}</td>
    <td>{{player.name}}</td>
    <td>{{'{0:,d}'.format(player.points|int)}}</td>
    <td>{{player.code}}</td>
    <td>{{player.club}}</td>
  </tr>
{% endfor -%}
</tbody>
</table>

{{footer()}}

{% endfor -%}

</body>
