<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.75">
  <title>{{ tournament_name }} Live Info</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>

{##### MACROS ################################################################}

{% macro schedule(games, commentlabel) -%}
<p>
Last updated: {{timestamp}}
</p>

<table>
<thead>
  <tr>
    <td>&nbsp;</td>
    <td style="text-align:right">#</td>
    <td>Day</td>
    <td style="text-align:right">Time</td>
    <td>Code</td>
    <td>Player 1</td>
    <td>Player 2</td>
    <td>Status</td>
    <td>{{commentlabel}}</td>
  </tr>
</thead>
<tbody>
{% for game in games -%}
  <tr class="{{ loop.cycle('odd', 'even') }}" id="S-{{game.code}}">
    <td style="background:#{{game.colour}}">
      <a href="#{{game.code[:2]}}">&nbsp;</a>
    </td>
    <td style="text-align:right">{{ game.nr }}</td>
    <td>{{ game.day }}</td>
    <td style="text-align:right">{{ game.time.strftime('%H:%M') }}</td>
    <td><a href="#{{game.name[:2]}}">{{game.name[:2]}}</a> {{game.name[2:]}}</td>
    <td class="{{ game.p1classes|join(' ') }}">{{ player(game.p1) }}</td>
    <td class="{{ game.p2classes|join(' ') }}">{{ player(game.p2) }}</td>
    <td>{{ game.status }}</td>
    <td>{{ game.comment }}</td>
  </tr>
{% endfor -%}
</tbody>
</table>

<div class="footer">
  <p>Made with <a
    href="https://github.com/madduck/tctools/tree/main/tc2web">tc2web</a>.
    Copyright &copy; 2021 by <a href="mailto:tctools@pobox.madduck.net">martin f.
    krafft</a>
  </p>
</div>

{% endmacro -%}

{% macro drawnav(draws, curcode) -%}
{% for code, d in draws|dictsort(by='value') -%}
{% if d.code == curcode -%}
<a class="current">{{d.code}}</a>
{% else -%}
<a href="#{{d.code}}">{{d.code}}</a>
{% endif -%}
{% endfor -%}
{% endmacro -%}

{% macro player(player) -%}
{% if player in players -%}
{% set p = players[player] -%}
{#<a class="player" href="#P{{p.id}}">{{ p.name }}</a>#}
<span class="player">{{ p.name }}</span>
<div class="playerinfo">
{{p.club or p.code}}<br/>
{{p.grade}} @ {{'{0:,d}'.format(p.points|int)}} points<br/>
{{draws[p.id[:2]].name}} #{{p.id[2:]}}
</div>
{% else -%}
{{ player }}
{% endif -%}
{% endmacro -%}

{##### SCHEDULE ##############################################################}

<h1>{{ tournament_name }} Games Schedule</h1>

{% if played_games -%}
<h2><a name="played">{{ tournament_name}} — Played games</a></h2>

<div class="nav">
{% if pending_games -%}
<a href="#now">Now</a>
{% endif -%}
{{ drawnav(draws, None) }}
</div>

{{ schedule(played_games|reverse, "Result") }}
{% endif -%}

{% if pending_games -%}
<h2><a name="now">{{ tournament_name }} — Scheduled games</a></h2>

<div class="display">
  <a href="display.html">
    <img src="display.png" width="90" height="45"/>
  </a>
</div>

<div class="nav">
{% if played_games -%}
<a href="#played">Played</a>
{% endif -%}
{{ drawnav(draws, None) }}
</div>

{{ schedule(pending_games, "Notes") }}
{% endif -%}

{##### DRAWS #################################################################}

<h1>{{ tournament_name }} Draws Overview</h1>

{% for code, draw in draws|dictsort(by='value') -%}

<h2><a name="{{draw.code}}"></a><span class="tname">{{tournament_name}}</span>
{{ draw.name }}</h2>

<div class="nav">
<a href="#now">Schedule</a>
{{ drawnav(draws, draw.code) }}
</div>

<p>
Last updated: {{timestamp}}
</p>

<table>
<thead>
<tr>
<td style="background:#{{draw.colour}}">&nbsp;</td>
<td>Day</td>
<td style="text-align:right">Time</td>
<td>Code</td>
<td>Player 1</td>
<td>Player 2</td>
<td>Status</td>
<td>Comment/Result</td>
</tr>
</thead>
<tbody>
{% for game in draw.games -%}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td style="background:#{{draw.colour}}">&nbsp;</td>
    <td>{{ game.day }}</td>
    <td style="text-align:right">
      <a href="#S-{{game.code}}">{{game.time.strftime('%H:%M')}}</a>
    </td>
    <td>{{ game.name[:2] }} {{ game.name[2:] }}</td>
    <td class="{{ game.p1classes|join(' ') }}">{{ player(game.p1) }}</td>
    <td class="{{ game.p2classes|join(' ') }}">{{ player(game.p2) }}</td>
    <td class="{{ game.statusclasses|join(' ') }}">{{ game.status }}</td>
    <td>{{ game.comment }}</td>
  </tr>
{% endfor -%}
</tbody>
</table>

<div class="footer">
<p>
Made with <a
href="https://github.com/madduck/tctools/tree/main/tc2web">tc2web</a>.
Copyright &copy; 2021 by <a href="mailto:tctools@pobox.madduck.net">martin f.
krafft</a>
</p>
</div>

{% endfor -%}

</body>
