<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ tournament_name }} Games Schedule</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>

<h1>{{ tournament_name }} Games Schedule</h1>

{% if played_games -%}
<a name="played"/>
<h2>Played games</h2>

<p>
{% if pending_games -%}
Jump to: <a href="#now">Now</a> |
{% endif -%}
By draw:
{% for draw in draws -%}
<a href="draws.html#{{draw[0]}}">{{draw[0]}}</a>
{% endfor -%}
</p>

<p>
Last updated: {{timestamp}}
</p>

<table>
<thead>
  <tr>
    <td>&nbsp;</td>
    <td style="text-align:right">#</td>
    <td>Day</td>
    <td style="text-align:right">Time</td>
    <td>Code</td>
    <td>Player 1</td>
    <td>Player 2</td>
    <td>Result</td>
  </tr>
</thead>
<tbody>
{% for game in played_games | reverse -%}
  <tr class="{{ loop.cycle('odd', 'even') }}" id="{{game.code}}">
    <td style="background:#{{game.colour}}">
      <a href="draws.html#{{game.code[:2]}}">&nbsp;</a>
    </td>
    <td style="text-align:right">{{ game.nr }}</td>
    <td>{{ game.day }}</td>
    <td style="text-align:right">{{ game.time.strftime('%H:%M') }}</td>
    <td><a href="draws.html#{{game.code[:2]}}" name="{{game.code}}">{{game.code}}</a></td>
    <td class="{{ game.p1classes|join(' ') }}">{{ game.p1 }}</td>
    <td class="{{ game.p2classes|join(' ') }}">{{ game.p2 }}</td>
    <td>{{ game.comment }}</td>
  </tr>
{% endfor -%}
</tbody>
</table>
{% endif -%}

<a name="now"/>
{% if pending_games -%}
<h2>Scheduled games</h2>

<a href="display.html">
  <img src="display.png" width="90" height="45"/>
</a>

<p>
{% if played_games -%}
Jump to:
<a href="#played">Played</a> |
{% endif -%}
By draw:
{% for draw in draws -%}
<a href="draws.html#{{draw[0]}}">{{draw[0]}}</a>
{% endfor -%}
</p>

<p>
Last updated: {{timestamp}}
</p>

<table style="clear:both">
<thead>
  <tr>
    <td>&nbsp;</td>
    <td style="text-align:right">#</td>
    <td>Day</td>
    <td style="text-align:right">Time</td>
    <td>Code</td>
    <td>Player 1</td>
    <td>Player 2</td>
    <td>Status</td>
    <td>Comment</td>
  </tr>
</thead>
<tbody>
{% for game in pending_games -%}
  <tr class="{{ loop.cycle('odd', 'even' )}}" id="{{game.code}}">
    <td style="background:#{{game.colour}}">
      <a href="draws.html#{{game.code[:2]}}">&nbsp;</a>
    </td>
    <td style="text-align:right">{{ game.nr }}</td>
    <td>{{ game.day }}</td>
    <td style="text-align:right">{{ game.time.strftime('%H:%M') }}</td>
    <td><a href="draws.html#{{game.code[:2]}}"
      name="{{ game.code}}">{{game.code[:2]}}</a>{{game.code[2:]}}</td>
    <td class="{{ game.p1classes|join(' ') }}">{{ game.p1 }}</td>
    <td class="{{ game.p2classes|join(' ') }}">{{ game.p2 }}</td>
    <td class="{{ game.statusclasses|join(' ') }}">{{ game.status }}</td>
    <td>{{ game.comment }}</td>
  </tr>
{% endfor -%}
</tbody>
</table>
{% endif -%}

<div class="footer">
<p>
Made with <a
href="https://github.com/madduck/tctools/tree/main/tc2web">tc2web</a>.
Copyright &copy; 2021 by <a href="mailto:tctools@pobox.madduck.net">martin f.
krafft</a>
</p>
</div>

</body>
