<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ tournament_name }} Games Schedule</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>

</body>
