body {
  font-family: Lato, Arial, Helvetica, sans-serif
}

h1, h2 {
  margin-top: 7em;
  color: #5cc133;
}

h2 .tname {
  font-size: smaller;
  white-space: pre;
  color: #000;
}

h2 .tname::after {
  content: "\A";
}

table {
  border: 1px #aaa solid;
  border-collapse: collapse;
}

thead td {
  font-weight: bold;
}

tr.even {
  background: #f6f6f6;
}

td.on {
  background: #5cc133;
  color: #fff;
  font-weight: bold;
}

td.next {
  background: #ffff00;
}

td.winner {
  font-weight: bold;
}

td.winner::before {
  content: "🏆 ";
}

td {
  border: 1px #ddd solid;
  padding: 0.5em;
}

td.unknown {
  color: #999;
}

p.warning {
  background: #f00;
  color: #fff;
  font-weight: bold;
  padding: 1em;
}

a {
  text-decoration: none;
}

a[href] {
  color: #5cc133;
}

div.footer {
  color: #aaa;
}

div.footer a {
  color: #999;
}

tr:target {
  background-color: #f0ffaa !important;
  scroll-margin-top: 15em;
}

.nav a {
  padding: 0.2em;
  background-color: #5cc133;
  color: #fff;
}

.nav a.current {
  background-color: #fff;
  color: #000;
  border: 1px solid #5cc133;
}

.display {
  margin-bottom: 1em;
}

.deemph {
  font-weight: normal;
}

tr:hover .playerinfo,
tr:active .playerinfo {
  display: block;
}

tr:hover .player,
tr:active .player {
  font-weight: bolder;
}

.playerinfo {
  font-size: smaller;
  display: none;
}
